@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
%dark_glass_bckg{
    background: linear-gradient(117.93deg, rgba(32, 26, 26, 0.296) 0%, rgba(21, 21, 21, 0.148) 100%);
    backdrop-filter: blur(42px);
}   
body{
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: url('../src/img/bckg1.png') no-repeat;
    background-size: cover ;
    color: #ffffff;


/* unfocus */

}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
application{
    @extend %dark_glass_bckg;
    height: 100vh;  
    width: 100vw;
    display: inherit;

}
nav-bar{
    @extend %dark_glass_bckg;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    min-height: 56px ;
    h1{
        grid-column: 2/3;
        padding: 0;
        margin: 0;
        justify-self: center;
        align-self: center;
    }
    nav-setting{
        justify-self: end;
        align-self: center;
        padding-right: 10px;
    }
}
tab{
    @extend %dark_glass_bckg;
    max-width: 1140px;
    width: 100vw;
    justify-self: center;
    display:grid;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    header{
    color: #ffffff;
    height: 45px;
    display: grid;
    grid-template-columns:  repeat(auto-fill,minmax(min-content,120px) );
        tab-header-element{
            background: linear-gradient(117.93deg, rgba(32, 26, 26, 0.4029) 0%, rgba(21, 21, 21, 0.1887) 100%); 
            text-align: center;
            line-height: 45PX;
        }
        &>.focus {
        background: none; 
        color: #D6CACA;
        }
    }

}
%block-filter{
    padding: 5px 20px;
            background: linear-gradient(117.93deg, rgba(181, 175, 175, 0.2212) 0%, rgba(21, 21, 21, 0.1036) 100%);
            border: 1px solid  rgba(173, 173, 173, 0.849) ; 
            border-radius: 10px;
            width: max-content;
            margin:  10px 11px 0 0;
}
tab-body{
    display: grid;
    grid-template-columns: 286px auto;
    tab-filter{
        padding: 20px;
        border-right: 1px solid rgba(173, 173, 173, 0.849) ;
    }
    & category-elements{
        display: inline-flex;
        flex-wrap: wrap;

        .tab-filter-category-element::before{
            // box-sizing: border-box;
        }
        .tab-filter-category-element{
            @extend %block-filter
        }
        
    }
    & section-elelments{
        display: inline-flex;
        flex-wrap: wrap;

        .tab-filter-section-elelment::before{
            // box-sizing: border-box;
        }
        .tab-filter-section-elelment{
            @extend %block-filter
        }
    }
    tab-content{
        overflow-y: scroll;
        height: 75vh;
    }
    tab-form{

        grid-column: 2/3;
        form{
            display: flex;
        }
        & textarea{
          width: 95%; 
          margin:1px 10px; 
          resize:none;
          color: #fff;
          padding: 5px;
          @extend %block-filter;
        }
        & button{
            color: #fff;
            @extend %block-filter;
            margin: 15px; 
        }
        
            
    } 
}
.article{
    padding: 10px;
    display: grid;
    grid-template-columns: 200px auto;
    
    border-bottom:1px solid  rgba(173, 173, 173, 0.849) ;
    &>img{ 
        justify-self: center;
    align-self: center; 
    border: 11px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    }
    .article-content{
        padding: 0 10px;
        display: grid;
    .article-info{
        display: flex;
        color: #c4c4c4;
        font-size: 14px;
        
    }
    .article-tags{
        font-size: 12px;
        margin: 10px 0 ;
        tag::before,tag::after{
            box-sizing: border-box;
        }
        tag{
            padding: 2px 10px;
            @extend %block-filter;
            margin: 0;
        }
    }

    h2{
        font-size: 22px;
    }
    h3{
        font-size: 18px;        
    }
    .button-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .add-in-read{
            padding: 2px 25px;
            line-height: 16px;
            color: #ffffff;
            font-size: 16px;
            background: linear-gradient(117.93deg, rgba(0, 155, 34, 0.2) 0%, rgba(0, 0, 0, 0.16) 100%);
            border-radius: 10px;
            border:1px solid  rgba(173, 173, 173, 0.849) ;
            .ready{
                font-size: 18px;
            }
        }
        .add-in-read_clear{
            background: linear-gradient(117.93deg, rgba(0, 99, 155, 0.2) 0%, rgba(0, 0, 0, 0.16) 100%);
        }
        .go-to-source{
            padding: 2px 25px;
            color: #ffffff;
            font-size: 16px;
            background: linear-gradient(117.93deg, rgba(82, 54, 255, 0.2) 0%, rgba(61, 0, 47, 0.16) 100%);
            border-radius: 10px;
            border:1px solid  rgba(173, 173, 173, 0.849) ;
            
        }
    }}
}