<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <application>
    <nav-bar>
        <h1>Список для чтения</h1>
        <nav-setting><span class="iconify" data-inline="false" data-icon="zmdi:settings" style="color: #ffffff; font-size: 28px;"></span></nav-settings>
    </nav-bar>
    <tab>
        <header>
            <tab-header-element>Все</tab-header-element>
            <tab-header-element class="focus">Актуальное</tab-header-element>
            <tab-header-element>Прочитаное</tab-header-element>
        </header>
        <tab-body>
        </div>
            <tab-filter>
               <tab-filter-section>
                   <h2>Раздел</h3>
                    <section-elelments>
                    <div class="tab-filter-section-elelment">Web</div> 
                    <div class="tab-filter-section-elelment">DataScience</div> 
                    <div class="tab-filter-section-elelment">ClearCode</div> 
                    <div class="tab-filter-section-elelment">Back-End</div> 
                    <div class="tab-filter-section-elelment tab-filter-section-add">+</div> 
                    </section-elelments>
                </tab-filter-section> 
                <tab-filter-category>
                   <h2>Категория</h3>
                    <category-elements>
                    <div class="tab-filter-category-element">дизайн</div>
                    <div class="tab-filter-category-element">ai</div>
                    <div class="tab-filter-category-element">vue.js</div>
                    <div class="tab-filter-category-element tab-filter-category-add">+</div>
                </category-elements>
                </tab-filter-category>
            </tab-filter>
            <tab-content>
                <div class="article">
                    
                </div>
                <div class="article">
                        </div>
                 </div>
                </div>
                <div class="article">
                 
                </div>
            </tab-content>
        </div>
            <tab-form>
                <form action="" method="get">
                    <textarea name="" id=""  rows="2"></textarea>
                    <!-- <input type="text" name="" id=""> -->
                    <button> => </button>
        </div>
                </form>
            </tab-form>
        </tab-body>
    </tab>
    </application>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</body>
</html>